.page-file{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td,tr,th{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3.2rem;
}