.page-file{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}