.page-file{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td,tr,th{
    padding: 0 3.2rem;
}

.downloadButtons{
    border: none;
    background-color: #00000000;
}

#idTitle{
    margin: 1rem;
}