.page-landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropBox{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.dropBox div{
    border-radius: 5rem;
    background: var(--color-background);
    padding: 15rem 5rem;
}

button{
    border-style: double;
    background: var(--color-button);
    margin-top: 0.5rem;
    border-radius: 5rem;
    padding: 0.3rem 1rem;
    transition-duration: 0.5s;
}

button:hover{
    transition-duration: 0.5s;
    opacity: 80%;
}

a{
    text-decoration: none;
    color: var(--color-text-base);
    transition-duration: 0.4s;
}

a:hover{
    opacity: 70%;
    transition-duration: 0.4s;
}